<!-- Success case -->
<div class="panel panel-info" ng-if="success">
  <div class="panel-heading">
      <strong>{{name}}</strong>
  </div>
  <div class="panel-body">
    <div>{{content.results.artifacts.length}} artifacts in report</div><br />
    <ul><li ng-repeat="c in content.results.list">{{c}}</li></ul>
    <div>{{content.results.text}}</div>
  </div>
</div>

<!-- Failure case -->
<div class="panel panel-danger" ng-if="!success">
  <div class="panel-heading">
      <strong>{{artifact.data | fang}}</strong>
  </div>
  <div class="panel-body">
      {{content.errorMessage}}
  </div>
</div>
