<!-- Success with results case -->
<div class="panel panel-info" ng-if="success && content.indicator">
    <div class="panel-heading">
        <strong>Observable</strong>
    </div>
    <div class="panel-body" style="max-width: 100%;">
      <div>
        <b>Observable:</b>
        <p>{{content.indicator | fang}}</p>
      </div>

      <div>
        <b>Type:</b>
        <p>{{content.type}}</p>
      </div>

      <div>
        <b>Malicious Confidence:</b>
        <p ng-style="{'color: red': content.malicious_confidence === 'high', 'color: yellow': content.malicious_confidence === 'medium', 'color: blue': content.malicious_confidence === 'low'}">{{content.malicious_confidence}}</p>

      </div>

      <div>
        <b>Last Updated</b>
        <p>{{content.last_updated * 1000 | date:'yyyy-MM-dd HH:mm:ss Z'}}</p>
      </div>

      <div>
        <b>Actors</b>
        <p ng-repeat="c in content.actors">{{c}}</p>
      </div>

      <div>
        <b>Malware Families</b>
        <p ng-repeat="c in content.malware_families">{{c}}</p>
      </div>
    </div>


    <div class="panel-heading">
        <strong>Related Observables</strong>
    </div>

    <div class="panel-body" style="max-width: 100%;">
      <table>
        <tr>
          <th style="padding-right: 10px;">Observable</th>
          <th style="padding-right: 10px;">Type</th>
          <th>Last Valid Date</th>
        </tr>
        <tr ng-repeat="c in content.relations">
          <td style="padding-right: 10px;">{{c.indicator | fang}}</td>
          <td style="padding-right: 10px;">{{c.type}}</td>
          <td>{{c.last_valid_date * 1000 | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
        </tr>
      </table>
    </div>
</div>

<!-- Success with no results case -->
<div class="panel panel-info" ng-if="success && !(content.indicator)">
    <div class="panel-heading">
        <strong>Observable</strong>
    </div>

    <div class="panel-body" style="max-width: 100%;">
      <p>No results found</p>
    </div>
</div>

<!-- Failure case -->
<div class="panel panel-danger" ng-if="!success">
    <div class="panel-heading">
        <strong>{{artifact.data | fang}}</strong>
    </div>
    <div class="panel-body">
        {{content.errorMessage}}
    </div>
</div>
